
@{
    ViewData["Title"] = "Purchase Type";

    ViewBag.HelpTitle = ViewData["Title"];
    ViewBag.HelpMessage1 = "This the place where you can define purchase type that will help you to classified and organized purchase order.";
    ViewBag.HelpMessage2 = "Reminder: Purchase module will allow you to do the purchase cycle end to end. Start from: creating Purchase Order (PO) document => then goods receiving from vendor warehouse => then vendor billing => then finally vendor payment.";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title text-primary"><i class="fa fa-gear"></i> @ViewData["Title"]</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div id="Grid"></div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">

            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script id="templateForm" type="text/template">
    <input hidden id="PurchaseTypeId" name="PurchaseTypeId" value="{{:PurchaseTypeId}}" />
    <table cellspacing="10">
        <tr>
            <td>
                Purchase Type Name
            </td>
            <td colspan="3">
                <input id="PurchaseTypeName" name="PurchaseTypeName" value="{{:PurchaseTypeName}}" />
            </td>
        </tr>
        <tr>
            <td>
                Description
            </td>
            <td colspan="3">
                <input id="Description" name="Description" value="{{:Description}}" />
            </td>
        </tr>
    </table>
</script>


@section Styles{

}

@section Scripts{

    <script type="text/javascript">
        $(function () {

            var dataManager = ej.DataManager({
                url: "/api/PurchaseType",
                adaptor: new ej.WebApiAdaptor(),
                offline: true
            });

            dataManager.ready.done(function (e) {
                $("#Grid").ejGrid({
                    dataSource: ej.DataManager({
                        json: e.result,
                        adaptor: new ej.remoteSaveAdaptor(),
                        insertUrl: "/api/PurchaseType/Insert",
                        updateUrl: "/api/PurchaseType/Update",
                        removeUrl: "/api/PurchaseType/Remove",
                    }),
                    toolbarSettings: {
                        showToolbar: true,
                        toolbarItems: ["add", "edit", "delete", "update", "cancel", "search", "printGrid"]
                    },
                    editSettings: {
                        allowEditing: true,
                        allowAdding: true,
                        allowDeleting: true,
                        showDeleteConfirmDialog: true,
                        editMode: "dialogtemplate",
                        dialogEditorTemplateID: "#templateForm",
                    },
                    isResponsive: true,
                    enableResponsiveRow: true,
                    allowSorting: true,
                    allowSearching: true,
                    allowFiltering: true,
                    filterSettings: {
                        filterType: "excel",
                        maxFilterChoices: 100,
                        enableCaseSensitivity: false
                    },
                    allowPaging: true,
                    pageSettings: { pageSize: 10, printMode: ej.Grid.PrintMode.CurrentPage },
                    columns: [
                        { field: "PurchaseTypeId", type: 'number', headerText: 'Purchase Type Id', defaultValue: 0, isPrimaryKey: true, isIdentity: true, visible: false },
                        { field: "PurchaseTypeName", type: 'string', headerText: 'Purchase Type Name', validationRules: { required: true } },
                        { field: "Description", type: 'string', headerText: 'Description', },
                    ],
                    actionComplete: "complete",
                });
            });


        });

        function complete(args) {
            gridActionNotification(args);

            if (args.requestType == 'beginedit' || args.requestType == 'add') {
                formatFormControl();
            }

            if (args.requestType == 'beginedit') {
                $("#" + this._id + "_dialogEdit").ejDialog({ title: "Edit Record" });
            }
        }

        function formatFormControl() {
            $("#PurchaseTypeName").ejMaskEdit({
                inputMode: 'Text',
                validationMessage: { required: 'Pruchase Type Name is required.' }
            });
            $("#Description").ejMaskEdit({
                inputMode: 'Text',
                width: 410,
                validationRules: { required: true },
                validationMessage: { required: 'Description is required.' }
            });
        }


    </script>
}

